body {
  color: white;
  background: #000;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  perspective: 700px;
  font-family: "Oswald", sans-serif;
}

h1, p {
  max-width: 900px;
  z-index: -1;
}

#box_world {
  animation: rotate 30000ms linear infinite;
  transform-style: preserve-3d;
}
#box_world .box_wrapper {
  position: absolute;
  transform-style: preserve-3d;
}
#box_world .box_wrapper .box_wall {
  position: absolute;
  width: 150px;
  height: 150px;
  border: 8px solid;
  box-sizing: border-box;
}
#box_world .box_wrapper .box_wall:nth-child(1) {
  transform: translate(-75px, -75px) translateZ(75px);
}
#box_world .box_wrapper .box_wall:nth-child(2) {
  transform: translate(-75px, -75px) translateZ(-75px);
}
#box_world .box_wrapper .box_wall:nth-child(3) {
  transform: translate(-75px, -75px) translateX(75px) rotateY(90deg);
}
#box_world .box_wrapper .box_wall:nth-child(4) {
  transform: translate(-75px, -75px) translateX(-75px) rotateY(90deg);
}
#box_world .box_wrapper .box_wall:nth-child(5) {
  transform: translate(-75px, -75px) translateY(-75px) rotateX(90deg);
}
#box_world .box_wrapper .box_wall:nth-child(6) {
  transform: translate(-75px, -75px) translateY(75px) rotateX(90deg);
}
#box_world .box_wrapper:nth-child(1) {
  transform: translate3d(-151px, -151px, -151px);
}
#box_world .box_wrapper:nth-child(2) {
  transform: translate3d(0, -151px, -151px);
}
#box_world .box_wrapper:nth-child(3) {
  transform: translate3d(151px, -151px, -151px);
}
#box_world .box_wrapper:nth-child(4) {
  transform: translate3d(-151px, -151px, 0);
}
#box_world .box_wrapper:nth-child(5) {
  transform: translate3d(0, -151px, 0);
}
#box_world .box_wrapper:nth-child(6) {
  transform: translate3d(151px, -151px, 0);
}
#box_world .box_wrapper:nth-child(7) {
  transform: translate3d(-151px, -151px, 151px);
}
#box_world .box_wrapper:nth-child(8) {
  transform: translate3d(0, -151px, 151px);
}
#box_world .box_wrapper:nth-child(9) {
  transform: translate3d(151px, -151px, 151px);
}
#box_world .box_wrapper:nth-child(10) {
  transform: translate3d(-151px, 0, -151px);
}
#box_world .box_wrapper:nth-child(11) {
  transform: translate3d(0, 0, -151px);
}
#box_world .box_wrapper:nth-child(12) {
  transform: translate3d(151px, 0, -151px);
}
#box_world .box_wrapper:nth-child(13) {
  transform: translate3d(-151px, 0, 0);
}
#box_world .box_wrapper:nth-child(14) {
  transform: translate3d(0, 0, 0);
}
#box_world .box_wrapper:nth-child(15) {
  transform: translate3d(151px, 0, 0);
}
#box_world .box_wrapper:nth-child(16) {
  transform: translate3d(-151px, 0, 151px);
}
#box_world .box_wrapper:nth-child(17) {
  transform: translate3d(0, 0, 151px);
}
#box_world .box_wrapper:nth-child(18) {
  transform: translate3d(151px, 0, 151px);
}
#box_world .box_wrapper:nth-child(19) {
  transform: translate3d(-151px, 151px, -151px);
}
#box_world .box_wrapper:nth-child(20) {
  transform: translate3d(0, 151px, -151px);
}
#box_world .box_wrapper:nth-child(21) {
  transform: translate3d(151px, 151px, -151px);
}
#box_world .box_wrapper:nth-child(22) {
  transform: translate3d(-151px, 151px, 0);
}
#box_world .box_wrapper:nth-child(23) {
  transform: translate3d(0, 151px, 0);
}
#box_world .box_wrapper:nth-child(24) {
  transform: translate3d(151px, 151px, 0);
}
#box_world .box_wrapper:nth-child(25) {
  transform: translate3d(-151px, 151px, 151px);
}
#box_world .box_wrapper:nth-child(26) {
  transform: translate3d(0, 151px, 151px);
}
#box_world .box_wrapper:nth-child(27) {
  transform: translate3d(151px, 151px, 151px);
}
#box_world .box_wrapper:nth-child(1) .box_wall:nth-child(1) {
  animation: borderColor 3245ms 9797ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(1) .box_wall:nth-child(2) {
  animation: borderColor 2514ms 2285ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(1) .box_wall:nth-child(3) {
  animation: borderColor 3462ms 8741ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(1) .box_wall:nth-child(4) {
  animation: borderColor 1003ms 7308ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(1) .box_wall:nth-child(5) {
  animation: borderColor 2444ms 9117ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(1) .box_wall:nth-child(6) {
  animation: borderColor 2090ms 222ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(1) .box_wall:nth-child(7) {
  animation: borderColor 3692ms 3738ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(2) .box_wall:nth-child(1) {
  animation: borderColor 1388ms 522ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(2) .box_wall:nth-child(2) {
  animation: borderColor 3812ms 8996ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(2) .box_wall:nth-child(3) {
  animation: borderColor 1820ms 3035ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(2) .box_wall:nth-child(4) {
  animation: borderColor 3711ms 3256ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(2) .box_wall:nth-child(5) {
  animation: borderColor 2841ms 9864ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(2) .box_wall:nth-child(6) {
  animation: borderColor 2878ms 8040ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(2) .box_wall:nth-child(7) {
  animation: borderColor 1658ms 4216ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(3) .box_wall:nth-child(1) {
  animation: borderColor 3258ms 47ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(3) .box_wall:nth-child(2) {
  animation: borderColor 2008ms 3575ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(3) .box_wall:nth-child(3) {
  animation: borderColor 3033ms 2658ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(3) .box_wall:nth-child(4) {
  animation: borderColor 2567ms 9280ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(3) .box_wall:nth-child(5) {
  animation: borderColor 1048ms 2315ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(3) .box_wall:nth-child(6) {
  animation: borderColor 1595ms 9972ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(3) .box_wall:nth-child(7) {
  animation: borderColor 3088ms 5034ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(4) .box_wall:nth-child(1) {
  animation: borderColor 1126ms 451ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(4) .box_wall:nth-child(2) {
  animation: borderColor 3126ms 5220ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(4) .box_wall:nth-child(3) {
  animation: borderColor 1468ms 1575ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(4) .box_wall:nth-child(4) {
  animation: borderColor 3969ms 9862ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(4) .box_wall:nth-child(5) {
  animation: borderColor 1954ms 6833ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(4) .box_wall:nth-child(6) {
  animation: borderColor 1121ms 2831ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(4) .box_wall:nth-child(7) {
  animation: borderColor 2637ms 7296ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(5) .box_wall:nth-child(1) {
  animation: borderColor 3965ms 75ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(5) .box_wall:nth-child(2) {
  animation: borderColor 2324ms 3420ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(5) .box_wall:nth-child(3) {
  animation: borderColor 1312ms 2157ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(5) .box_wall:nth-child(4) {
  animation: borderColor 2864ms 347ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(5) .box_wall:nth-child(5) {
  animation: borderColor 3997ms 6577ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(5) .box_wall:nth-child(6) {
  animation: borderColor 1265ms 1106ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(5) .box_wall:nth-child(7) {
  animation: borderColor 3363ms 850ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(6) .box_wall:nth-child(1) {
  animation: borderColor 1472ms 5985ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(6) .box_wall:nth-child(2) {
  animation: borderColor 2924ms 1071ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(6) .box_wall:nth-child(3) {
  animation: borderColor 3317ms 465ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(6) .box_wall:nth-child(4) {
  animation: borderColor 2731ms 6014ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(6) .box_wall:nth-child(5) {
  animation: borderColor 1571ms 2879ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(6) .box_wall:nth-child(6) {
  animation: borderColor 3681ms 2717ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(6) .box_wall:nth-child(7) {
  animation: borderColor 2348ms 7169ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(7) .box_wall:nth-child(1) {
  animation: borderColor 1164ms 3956ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(7) .box_wall:nth-child(2) {
  animation: borderColor 3794ms 1792ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(7) .box_wall:nth-child(3) {
  animation: borderColor 3962ms 5230ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(7) .box_wall:nth-child(4) {
  animation: borderColor 2994ms 3452ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(7) .box_wall:nth-child(5) {
  animation: borderColor 3201ms 9857ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(7) .box_wall:nth-child(6) {
  animation: borderColor 1861ms 4691ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(7) .box_wall:nth-child(7) {
  animation: borderColor 1301ms 5624ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(8) .box_wall:nth-child(1) {
  animation: borderColor 2175ms 508ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(8) .box_wall:nth-child(2) {
  animation: borderColor 2698ms 8200ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(8) .box_wall:nth-child(3) {
  animation: borderColor 3085ms 2720ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(8) .box_wall:nth-child(4) {
  animation: borderColor 3754ms 610ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(8) .box_wall:nth-child(5) {
  animation: borderColor 2620ms 1505ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(8) .box_wall:nth-child(6) {
  animation: borderColor 2136ms 2747ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(8) .box_wall:nth-child(7) {
  animation: borderColor 3575ms 233ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(9) .box_wall:nth-child(1) {
  animation: borderColor 1077ms 7383ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(9) .box_wall:nth-child(2) {
  animation: borderColor 2210ms 5713ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(9) .box_wall:nth-child(3) {
  animation: borderColor 1420ms 7637ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(9) .box_wall:nth-child(4) {
  animation: borderColor 1274ms 2363ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(9) .box_wall:nth-child(5) {
  animation: borderColor 2667ms 3109ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(9) .box_wall:nth-child(6) {
  animation: borderColor 3335ms 6848ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(9) .box_wall:nth-child(7) {
  animation: borderColor 3481ms 7194ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(10) .box_wall:nth-child(1) {
  animation: borderColor 3648ms 170ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(10) .box_wall:nth-child(2) {
  animation: borderColor 2274ms 3383ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(10) .box_wall:nth-child(3) {
  animation: borderColor 3171ms 3497ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(10) .box_wall:nth-child(4) {
  animation: borderColor 2705ms 2928ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(10) .box_wall:nth-child(5) {
  animation: borderColor 3777ms 2267ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(10) .box_wall:nth-child(6) {
  animation: borderColor 3544ms 33ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(10) .box_wall:nth-child(7) {
  animation: borderColor 2509ms 8758ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(11) .box_wall:nth-child(1) {
  animation: borderColor 2351ms 5683ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(11) .box_wall:nth-child(2) {
  animation: borderColor 3448ms 794ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(11) .box_wall:nth-child(3) {
  animation: borderColor 1902ms 123ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(11) .box_wall:nth-child(4) {
  animation: borderColor 1748ms 277ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(11) .box_wall:nth-child(5) {
  animation: borderColor 3872ms 1525ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(11) .box_wall:nth-child(6) {
  animation: borderColor 2034ms 3367ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(11) .box_wall:nth-child(7) {
  animation: borderColor 2014ms 1372ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(12) .box_wall:nth-child(1) {
  animation: borderColor 1478ms 763ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(12) .box_wall:nth-child(2) {
  animation: borderColor 2321ms 6454ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(12) .box_wall:nth-child(3) {
  animation: borderColor 2846ms 6091ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(12) .box_wall:nth-child(4) {
  animation: borderColor 3674ms 3645ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(12) .box_wall:nth-child(5) {
  animation: borderColor 1043ms 1511ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(12) .box_wall:nth-child(6) {
  animation: borderColor 3823ms 4492ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(12) .box_wall:nth-child(7) {
  animation: borderColor 2278ms 4266ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(13) .box_wall:nth-child(1) {
  animation: borderColor 3345ms 7404ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(13) .box_wall:nth-child(2) {
  animation: borderColor 2046ms 1470ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(13) .box_wall:nth-child(3) {
  animation: borderColor 1990ms 2011ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(13) .box_wall:nth-child(4) {
  animation: borderColor 2180ms 2572ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(13) .box_wall:nth-child(5) {
  animation: borderColor 2228ms 5898ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(13) .box_wall:nth-child(6) {
  animation: borderColor 3142ms 2662ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(13) .box_wall:nth-child(7) {
  animation: borderColor 2907ms 9263ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(14) .box_wall:nth-child(1) {
  animation: borderColor 1212ms 7824ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(14) .box_wall:nth-child(2) {
  animation: borderColor 1956ms 3667ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(14) .box_wall:nth-child(3) {
  animation: borderColor 3284ms 1855ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(14) .box_wall:nth-child(4) {
  animation: borderColor 2077ms 9335ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(14) .box_wall:nth-child(5) {
  animation: borderColor 3902ms 5862ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(14) .box_wall:nth-child(6) {
  animation: borderColor 1092ms 1891ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(14) .box_wall:nth-child(7) {
  animation: borderColor 3869ms 2254ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(15) .box_wall:nth-child(1) {
  animation: borderColor 2459ms 8936ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(15) .box_wall:nth-child(2) {
  animation: borderColor 3529ms 9838ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(15) .box_wall:nth-child(3) {
  animation: borderColor 2900ms 6223ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(15) .box_wall:nth-child(4) {
  animation: borderColor 1086ms 4251ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(15) .box_wall:nth-child(5) {
  animation: borderColor 3679ms 8213ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(15) .box_wall:nth-child(6) {
  animation: borderColor 1074ms 2739ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(15) .box_wall:nth-child(7) {
  animation: borderColor 2656ms 6402ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(16) .box_wall:nth-child(1) {
  animation: borderColor 1479ms 770ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(16) .box_wall:nth-child(2) {
  animation: borderColor 1570ms 4077ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(16) .box_wall:nth-child(3) {
  animation: borderColor 1243ms 8905ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(16) .box_wall:nth-child(4) {
  animation: borderColor 3902ms 1341ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(16) .box_wall:nth-child(5) {
  animation: borderColor 1791ms 3554ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(16) .box_wall:nth-child(6) {
  animation: borderColor 2613ms 4563ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(16) .box_wall:nth-child(7) {
  animation: borderColor 3062ms 8447ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(17) .box_wall:nth-child(1) {
  animation: borderColor 2163ms 1736ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(17) .box_wall:nth-child(2) {
  animation: borderColor 1073ms 3295ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(17) .box_wall:nth-child(3) {
  animation: borderColor 2093ms 3184ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(17) .box_wall:nth-child(4) {
  animation: borderColor 1494ms 2008ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(17) .box_wall:nth-child(5) {
  animation: borderColor 2154ms 1705ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(17) .box_wall:nth-child(6) {
  animation: borderColor 1371ms 7360ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(17) .box_wall:nth-child(7) {
  animation: borderColor 1945ms 5613ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(18) .box_wall:nth-child(1) {
  animation: borderColor 3141ms 1481ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(18) .box_wall:nth-child(2) {
  animation: borderColor 3179ms 7420ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(18) .box_wall:nth-child(3) {
  animation: borderColor 3272ms 6203ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(18) .box_wall:nth-child(4) {
  animation: borderColor 3853ms 3392ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(18) .box_wall:nth-child(5) {
  animation: borderColor 3696ms 6611ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(18) .box_wall:nth-child(6) {
  animation: borderColor 3632ms 3020ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(18) .box_wall:nth-child(7) {
  animation: borderColor 1094ms 3425ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(19) .box_wall:nth-child(1) {
  animation: borderColor 3947ms 4757ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(19) .box_wall:nth-child(2) {
  animation: borderColor 3851ms 8930ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(19) .box_wall:nth-child(3) {
  animation: borderColor 2380ms 3284ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(19) .box_wall:nth-child(4) {
  animation: borderColor 3675ms 941ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(19) .box_wall:nth-child(5) {
  animation: borderColor 1872ms 3151ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(19) .box_wall:nth-child(6) {
  animation: borderColor 3737ms 416ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(19) .box_wall:nth-child(7) {
  animation: borderColor 1667ms 4368ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(20) .box_wall:nth-child(1) {
  animation: borderColor 3805ms 4936ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(20) .box_wall:nth-child(2) {
  animation: borderColor 1333ms 5896ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(20) .box_wall:nth-child(3) {
  animation: borderColor 1600ms 3560ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(20) .box_wall:nth-child(4) {
  animation: borderColor 2656ms 361ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(20) .box_wall:nth-child(5) {
  animation: borderColor 2428ms 4900ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(20) .box_wall:nth-child(6) {
  animation: borderColor 2914ms 1901ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(20) .box_wall:nth-child(7) {
  animation: borderColor 1615ms 2362ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(21) .box_wall:nth-child(1) {
  animation: borderColor 3108ms 3705ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(21) .box_wall:nth-child(2) {
  animation: borderColor 1505ms 3860ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(21) .box_wall:nth-child(3) {
  animation: borderColor 1919ms 3855ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(21) .box_wall:nth-child(4) {
  animation: borderColor 1681ms 4068ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(21) .box_wall:nth-child(5) {
  animation: borderColor 3530ms 9665ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(21) .box_wall:nth-child(6) {
  animation: borderColor 2981ms 894ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(21) .box_wall:nth-child(7) {
  animation: borderColor 3177ms 8629ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(22) .box_wall:nth-child(1) {
  animation: borderColor 3884ms 7946ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(22) .box_wall:nth-child(2) {
  animation: borderColor 3300ms 5843ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(22) .box_wall:nth-child(3) {
  animation: borderColor 3967ms 2983ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(22) .box_wall:nth-child(4) {
  animation: borderColor 1469ms 6074ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(22) .box_wall:nth-child(5) {
  animation: borderColor 1692ms 7717ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(22) .box_wall:nth-child(6) {
  animation: borderColor 2142ms 1140ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(22) .box_wall:nth-child(7) {
  animation: borderColor 1581ms 2769ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(23) .box_wall:nth-child(1) {
  animation: borderColor 3855ms 8964ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(23) .box_wall:nth-child(2) {
  animation: borderColor 3976ms 7345ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(23) .box_wall:nth-child(3) {
  animation: borderColor 3754ms 9952ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(23) .box_wall:nth-child(4) {
  animation: borderColor 1006ms 5931ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(23) .box_wall:nth-child(5) {
  animation: borderColor 1471ms 4767ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(23) .box_wall:nth-child(6) {
  animation: borderColor 3197ms 3129ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(23) .box_wall:nth-child(7) {
  animation: borderColor 1840ms 663ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(24) .box_wall:nth-child(1) {
  animation: borderColor 3248ms 5904ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(24) .box_wall:nth-child(2) {
  animation: borderColor 1340ms 1274ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(24) .box_wall:nth-child(3) {
  animation: borderColor 1576ms 8735ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(24) .box_wall:nth-child(4) {
  animation: borderColor 1216ms 3803ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(24) .box_wall:nth-child(5) {
  animation: borderColor 3893ms 3793ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(24) .box_wall:nth-child(6) {
  animation: borderColor 2593ms 8702ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(24) .box_wall:nth-child(7) {
  animation: borderColor 3093ms 1297ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(25) .box_wall:nth-child(1) {
  animation: borderColor 3166ms 3130ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(25) .box_wall:nth-child(2) {
  animation: borderColor 1713ms 8344ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(25) .box_wall:nth-child(3) {
  animation: borderColor 3479ms 3327ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(25) .box_wall:nth-child(4) {
  animation: borderColor 3855ms 8254ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(25) .box_wall:nth-child(5) {
  animation: borderColor 2685ms 8086ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(25) .box_wall:nth-child(6) {
  animation: borderColor 3155ms 3833ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(25) .box_wall:nth-child(7) {
  animation: borderColor 2836ms 6471ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(26) .box_wall:nth-child(1) {
  animation: borderColor 3447ms 6898ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(26) .box_wall:nth-child(2) {
  animation: borderColor 1090ms 5286ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(26) .box_wall:nth-child(3) {
  animation: borderColor 3962ms 8101ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(26) .box_wall:nth-child(4) {
  animation: borderColor 1646ms 2862ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(26) .box_wall:nth-child(5) {
  animation: borderColor 3874ms 4817ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(26) .box_wall:nth-child(6) {
  animation: borderColor 3417ms 4553ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(26) .box_wall:nth-child(7) {
  animation: borderColor 3185ms 6208ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(27) .box_wall:nth-child(1) {
  animation: borderColor 2451ms 6516ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(27) .box_wall:nth-child(2) {
  animation: borderColor 3788ms 495ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(27) .box_wall:nth-child(3) {
  animation: borderColor 2942ms 9382ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(27) .box_wall:nth-child(4) {
  animation: borderColor 3144ms 3163ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(27) .box_wall:nth-child(5) {
  animation: borderColor 1563ms 2452ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(27) .box_wall:nth-child(6) {
  animation: borderColor 1894ms 8895ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(27) .box_wall:nth-child(7) {
  animation: borderColor 2898ms 2292ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(28) .box_wall:nth-child(1) {
  animation: borderColor 3101ms 7729ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(28) .box_wall:nth-child(2) {
  animation: borderColor 3900ms 9361ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(28) .box_wall:nth-child(3) {
  animation: borderColor 3779ms 1788ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(28) .box_wall:nth-child(4) {
  animation: borderColor 1335ms 2406ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(28) .box_wall:nth-child(5) {
  animation: borderColor 1486ms 9500ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(28) .box_wall:nth-child(6) {
  animation: borderColor 2628ms 11ms linear infinite;
  animation-fill-mode: both;
}
#box_world .box_wrapper:nth-child(28) .box_wall:nth-child(7) {
  animation: borderColor 1866ms 6886ms linear infinite;
  animation-fill-mode: both;
}

@keyframes rotate {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(1080deg);
  }
}
@keyframes borderColor {
  0% {
    border-top-color: rgba(0, 0, 255, 0);
    border-right-color: rgba(0, 0, 255, 0);
    border-bottom-color: rgba(0, 0, 255, 0);
    border-left-color: rgba(0, 0, 255, 0);
  }
  60% {
    border-top-color: rgba(0, 0, 255, 0);
    border-right-color: rgba(0, 0, 255, 0);
    border-bottom-color: rgba(0, 0, 255, 0);
    border-left-color: rgba(0, 0, 255, 0);
  }
  65% {
    border-top-color: rgba(0, 0, 255, 0.3);
    border-right-color: rgba(0, 0, 255, 0);
    border-bottom-color: rgba(0, 0, 255, 0);
    border-left-color: rgba(0, 0, 255, 0);
  }
  70% {
    border-top-color: rgba(0, 0, 255, 0.3);
    border-right-color: rgba(0, 0, 255, 0.3);
    border-bottom-color: rgba(0, 0, 255, 0);
    border-left-color: rgba(0, 0, 255, 0);
  }
  75% {
    border-top-color: rgba(0, 0, 255, 0.3);
    border-right-color: rgba(0, 0, 255, 0.3);
    border-bottom-color: rgba(0, 0, 255, 0.3);
    border-left-color: rgba(0, 0, 255, 0);
  }
  80% {
    border-top-color: rgba(0, 255, 255, 0.3);
    border-right-color: rgba(0, 255, 255, 0.3);
    border-bottom-color: rgba(0, 255, 255, 0.3);
    border-left-color: rgba(0, 255, 255, 0.3);
  }
  85% {
    border-top-color: rgba(0, 0, 255, 0);
    border-right-color: rgba(0, 0, 255, 0.3);
    border-bottom-color: rgba(0, 0, 255, 0.3);
    border-left-color: rgba(0, 0, 255, 0.3);
  }
  90% {
    border-top-color: rgba(0, 0, 255, 0);
    border-right-color: rgba(0, 0, 255, 0);
    border-bottom-color: rgba(0, 0, 255, 0.3);
    border-left-color: rgba(0, 0, 255, 0.3);
  }
  95% {
    border-top-color: rgba(0, 0, 255, 0);
    border-right-color: rgba(0, 0, 255, 0);
    border-bottom-color: rgba(0, 0, 255, 0);
    border-left-color: rgba(0, 0, 255, 0.3);
  }
  100% {
    border-top-color: rgba(0, 0, 255, 0);
    border-right-color: rgba(0, 0, 255, 0);
    border-bottom-color: rgba(0, 0, 255, 0);
    border-left-color: rgba(0, 0, 255, 0);
  }
}

/*# sourceMappingURL=styles.css.map */
