body {
  color: white;
  /* background: #000; */
  background-image: linear-gradient(to bottom right, rgba(253, 95, 0, 0.75), rgba(204, 255, 0, 0.75));
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  perspective: 700px;
  font-family: 'Oswald', sans-serif; }

h1, p {
  max-width: 900px;
  z-index: -1; }

a {
  color: white; }

#box_world {
  animation: rotate 30000ms linear infinite;
  transform-style: preserve-3d; }
  #box_world .box_wrapper {
    position: absolute;
    transform-style: preserve-3d; }
    #box_world .box_wrapper .box_wall {
      position: absolute;
      width: 150px;
      height: 150px;
      border: 8px solid;
      box-sizing: border-box; }
      #box_world .box_wrapper .box_wall:nth-child(1) {
        transform: translate(-75px, -75px) translateZ(75px); }
      #box_world .box_wrapper .box_wall:nth-child(2) {
        transform: translate(-75px, -75px) translateZ(-75px); }
      #box_world .box_wrapper .box_wall:nth-child(3) {
        transform: translate(-75px, -75px) translateX(75px) rotateY(90deg); }
      #box_world .box_wrapper .box_wall:nth-child(4) {
        transform: translate(-75px, -75px) translateX(-75px) rotateY(90deg); }
      #box_world .box_wrapper .box_wall:nth-child(5) {
        transform: translate(-75px, -75px) translateY(-75px) rotateX(90deg); }
      #box_world .box_wrapper .box_wall:nth-child(6) {
        transform: translate(-75px, -75px) translateY(75px) rotateX(90deg); }
    #box_world .box_wrapper:nth-child(1) {
      transform: translate3d(-151px, -151px, -151px); }
    #box_world .box_wrapper:nth-child(2) {
      transform: translate3d(0, -151px, -151px); }
    #box_world .box_wrapper:nth-child(3) {
      transform: translate3d(151px, -151px, -151px); }
    #box_world .box_wrapper:nth-child(4) {
      transform: translate3d(-151px, -151px, 0); }
    #box_world .box_wrapper:nth-child(5) {
      transform: translate3d(0, -151px, 0); }
    #box_world .box_wrapper:nth-child(6) {
      transform: translate3d(151px, -151px, 0); }
    #box_world .box_wrapper:nth-child(7) {
      transform: translate3d(-151px, -151px, 151px); }
    #box_world .box_wrapper:nth-child(8) {
      transform: translate3d(0, -151px, 151px); }
    #box_world .box_wrapper:nth-child(9) {
      transform: translate3d(151px, -151px, 151px); }
    #box_world .box_wrapper:nth-child(10) {
      transform: translate3d(-151px, 0, -151px); }
    #box_world .box_wrapper:nth-child(11) {
      transform: translate3d(0, 0, -151px); }
    #box_world .box_wrapper:nth-child(12) {
      transform: translate3d(151px, 0, -151px); }
    #box_world .box_wrapper:nth-child(13) {
      transform: translate3d(-151px, 0, 0); }
    #box_world .box_wrapper:nth-child(14) {
      transform: translate3d(0, 0, 0); }
    #box_world .box_wrapper:nth-child(15) {
      transform: translate3d(151px, 0, 0); }
    #box_world .box_wrapper:nth-child(16) {
      transform: translate3d(-151px, 0, 151px); }
    #box_world .box_wrapper:nth-child(17) {
      transform: translate3d(0, 0, 151px); }
    #box_world .box_wrapper:nth-child(18) {
      transform: translate3d(151px, 0, 151px); }
    #box_world .box_wrapper:nth-child(19) {
      transform: translate3d(-151px, 151px, -151px); }
    #box_world .box_wrapper:nth-child(20) {
      transform: translate3d(0, 151px, -151px); }
    #box_world .box_wrapper:nth-child(21) {
      transform: translate3d(151px, 151px, -151px); }
    #box_world .box_wrapper:nth-child(22) {
      transform: translate3d(-151px, 151px, 0); }
    #box_world .box_wrapper:nth-child(23) {
      transform: translate3d(0, 151px, 0); }
    #box_world .box_wrapper:nth-child(24) {
      transform: translate3d(151px, 151px, 0); }
    #box_world .box_wrapper:nth-child(25) {
      transform: translate3d(-151px, 151px, 151px); }
    #box_world .box_wrapper:nth-child(26) {
      transform: translate3d(0, 151px, 151px); }
    #box_world .box_wrapper:nth-child(27) {
      transform: translate3d(151px, 151px, 151px); }
    #box_world .box_wrapper:nth-child(1) .box_wall:nth-child(1) {
      animation: borderColor 1914ms 6121ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(1) .box_wall:nth-child(2) {
      animation: borderColor 1847ms 5159ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(1) .box_wall:nth-child(3) {
      animation: borderColor 3391ms 673ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(1) .box_wall:nth-child(4) {
      animation: borderColor 3269ms 4045ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(1) .box_wall:nth-child(5) {
      animation: borderColor 2054ms 7531ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(1) .box_wall:nth-child(6) {
      animation: borderColor 1844ms 4181ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(1) .box_wall:nth-child(7) {
      animation: borderColor 2061ms 1113ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(2) .box_wall:nth-child(1) {
      animation: borderColor 1622ms 3428ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(2) .box_wall:nth-child(2) {
      animation: borderColor 1684ms 7601ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(2) .box_wall:nth-child(3) {
      animation: borderColor 3073ms 7378ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(2) .box_wall:nth-child(4) {
      animation: borderColor 1023ms 3850ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(2) .box_wall:nth-child(5) {
      animation: borderColor 3038ms 5186ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(2) .box_wall:nth-child(6) {
      animation: borderColor 3344ms 2705ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(2) .box_wall:nth-child(7) {
      animation: borderColor 2025ms 1243ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(3) .box_wall:nth-child(1) {
      animation: borderColor 2595ms 9384ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(3) .box_wall:nth-child(2) {
      animation: borderColor 2305ms 1880ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(3) .box_wall:nth-child(3) {
      animation: borderColor 3252ms 2839ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(3) .box_wall:nth-child(4) {
      animation: borderColor 2445ms 2275ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(3) .box_wall:nth-child(5) {
      animation: borderColor 2777ms 5076ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(3) .box_wall:nth-child(6) {
      animation: borderColor 1913ms 7743ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(3) .box_wall:nth-child(7) {
      animation: borderColor 1548ms 5174ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(4) .box_wall:nth-child(1) {
      animation: borderColor 3957ms 4492ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(4) .box_wall:nth-child(2) {
      animation: borderColor 2233ms 9143ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(4) .box_wall:nth-child(3) {
      animation: borderColor 2105ms 1117ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(4) .box_wall:nth-child(4) {
      animation: borderColor 1211ms 4059ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(4) .box_wall:nth-child(5) {
      animation: borderColor 1503ms 4649ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(4) .box_wall:nth-child(6) {
      animation: borderColor 3132ms 9578ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(4) .box_wall:nth-child(7) {
      animation: borderColor 3919ms 4202ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(5) .box_wall:nth-child(1) {
      animation: borderColor 1781ms 5550ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(5) .box_wall:nth-child(2) {
      animation: borderColor 3175ms 390ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(5) .box_wall:nth-child(3) {
      animation: borderColor 3592ms 8646ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(5) .box_wall:nth-child(4) {
      animation: borderColor 3388ms 4336ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(5) .box_wall:nth-child(5) {
      animation: borderColor 2185ms 7425ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(5) .box_wall:nth-child(6) {
      animation: borderColor 1764ms 1477ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(5) .box_wall:nth-child(7) {
      animation: borderColor 3780ms 5511ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(6) .box_wall:nth-child(1) {
      animation: borderColor 2076ms 1915ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(6) .box_wall:nth-child(2) {
      animation: borderColor 3289ms 2268ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(6) .box_wall:nth-child(3) {
      animation: borderColor 1220ms 4686ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(6) .box_wall:nth-child(4) {
      animation: borderColor 2450ms 9307ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(6) .box_wall:nth-child(5) {
      animation: borderColor 2145ms 4811ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(6) .box_wall:nth-child(6) {
      animation: borderColor 2783ms 627ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(6) .box_wall:nth-child(7) {
      animation: borderColor 1308ms 9647ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(7) .box_wall:nth-child(1) {
      animation: borderColor 1870ms 3585ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(7) .box_wall:nth-child(2) {
      animation: borderColor 3344ms 7595ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(7) .box_wall:nth-child(3) {
      animation: borderColor 1677ms 9348ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(7) .box_wall:nth-child(4) {
      animation: borderColor 2849ms 5301ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(7) .box_wall:nth-child(5) {
      animation: borderColor 2245ms 9153ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(7) .box_wall:nth-child(6) {
      animation: borderColor 3508ms 8250ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(7) .box_wall:nth-child(7) {
      animation: borderColor 1356ms 3036ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(8) .box_wall:nth-child(1) {
      animation: borderColor 2430ms 9232ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(8) .box_wall:nth-child(2) {
      animation: borderColor 2390ms 5058ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(8) .box_wall:nth-child(3) {
      animation: borderColor 3923ms 5648ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(8) .box_wall:nth-child(4) {
      animation: borderColor 1156ms 3405ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(8) .box_wall:nth-child(5) {
      animation: borderColor 1592ms 3377ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(8) .box_wall:nth-child(6) {
      animation: borderColor 2700ms 2896ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(8) .box_wall:nth-child(7) {
      animation: borderColor 1413ms 4369ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(9) .box_wall:nth-child(1) {
      animation: borderColor 2656ms 2018ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(9) .box_wall:nth-child(2) {
      animation: borderColor 2369ms 9621ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(9) .box_wall:nth-child(3) {
      animation: borderColor 1735ms 4113ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(9) .box_wall:nth-child(4) {
      animation: borderColor 3448ms 3853ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(9) .box_wall:nth-child(5) {
      animation: borderColor 3795ms 5233ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(9) .box_wall:nth-child(6) {
      animation: borderColor 1338ms 8097ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(9) .box_wall:nth-child(7) {
      animation: borderColor 2841ms 5195ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(10) .box_wall:nth-child(1) {
      animation: borderColor 3672ms 9216ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(10) .box_wall:nth-child(2) {
      animation: borderColor 1959ms 7574ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(10) .box_wall:nth-child(3) {
      animation: borderColor 3439ms 5237ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(10) .box_wall:nth-child(4) {
      animation: borderColor 3227ms 932ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(10) .box_wall:nth-child(5) {
      animation: borderColor 3345ms 1437ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(10) .box_wall:nth-child(6) {
      animation: borderColor 1489ms 7852ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(10) .box_wall:nth-child(7) {
      animation: borderColor 3250ms 9340ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(11) .box_wall:nth-child(1) {
      animation: borderColor 1011ms 3876ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(11) .box_wall:nth-child(2) {
      animation: borderColor 2215ms 9032ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(11) .box_wall:nth-child(3) {
      animation: borderColor 2923ms 4662ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(11) .box_wall:nth-child(4) {
      animation: borderColor 3333ms 7071ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(11) .box_wall:nth-child(5) {
      animation: borderColor 2133ms 1260ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(11) .box_wall:nth-child(6) {
      animation: borderColor 1936ms 586ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(11) .box_wall:nth-child(7) {
      animation: borderColor 2027ms 3662ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(12) .box_wall:nth-child(1) {
      animation: borderColor 1426ms 5893ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(12) .box_wall:nth-child(2) {
      animation: borderColor 1097ms 530ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(12) .box_wall:nth-child(3) {
      animation: borderColor 3447ms 5868ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(12) .box_wall:nth-child(4) {
      animation: borderColor 1168ms 6236ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(12) .box_wall:nth-child(5) {
      animation: borderColor 2538ms 6337ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(12) .box_wall:nth-child(6) {
      animation: borderColor 1750ms 5677ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(12) .box_wall:nth-child(7) {
      animation: borderColor 2508ms 6273ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(13) .box_wall:nth-child(1) {
      animation: borderColor 1942ms 9119ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(13) .box_wall:nth-child(2) {
      animation: borderColor 3481ms 5474ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(13) .box_wall:nth-child(3) {
      animation: borderColor 2559ms 9638ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(13) .box_wall:nth-child(4) {
      animation: borderColor 3099ms 2997ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(13) .box_wall:nth-child(5) {
      animation: borderColor 2729ms 8712ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(13) .box_wall:nth-child(6) {
      animation: borderColor 1428ms 560ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(13) .box_wall:nth-child(7) {
      animation: borderColor 1530ms 6904ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(14) .box_wall:nth-child(1) {
      animation: borderColor 1181ms 6160ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(14) .box_wall:nth-child(2) {
      animation: borderColor 2457ms 472ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(14) .box_wall:nth-child(3) {
      animation: borderColor 1794ms 2597ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(14) .box_wall:nth-child(4) {
      animation: borderColor 3706ms 4872ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(14) .box_wall:nth-child(5) {
      animation: borderColor 1621ms 2202ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(14) .box_wall:nth-child(6) {
      animation: borderColor 1783ms 1979ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(14) .box_wall:nth-child(7) {
      animation: borderColor 1682ms 2322ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(15) .box_wall:nth-child(1) {
      animation: borderColor 1025ms 6709ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(15) .box_wall:nth-child(2) {
      animation: borderColor 1605ms 8172ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(15) .box_wall:nth-child(3) {
      animation: borderColor 3875ms 419ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(15) .box_wall:nth-child(4) {
      animation: borderColor 2537ms 4196ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(15) .box_wall:nth-child(5) {
      animation: borderColor 2260ms 5765ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(15) .box_wall:nth-child(6) {
      animation: borderColor 3049ms 3474ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(15) .box_wall:nth-child(7) {
      animation: borderColor 2930ms 9711ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(16) .box_wall:nth-child(1) {
      animation: borderColor 3898ms 9152ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(16) .box_wall:nth-child(2) {
      animation: borderColor 1969ms 2969ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(16) .box_wall:nth-child(3) {
      animation: borderColor 2127ms 3553ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(16) .box_wall:nth-child(4) {
      animation: borderColor 3073ms 2490ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(16) .box_wall:nth-child(5) {
      animation: borderColor 3955ms 3000ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(16) .box_wall:nth-child(6) {
      animation: borderColor 3446ms 8817ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(16) .box_wall:nth-child(7) {
      animation: borderColor 2711ms 7233ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(17) .box_wall:nth-child(1) {
      animation: borderColor 3641ms 6690ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(17) .box_wall:nth-child(2) {
      animation: borderColor 1059ms 8475ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(17) .box_wall:nth-child(3) {
      animation: borderColor 2620ms 9826ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(17) .box_wall:nth-child(4) {
      animation: borderColor 2673ms 9657ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(17) .box_wall:nth-child(5) {
      animation: borderColor 1722ms 2123ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(17) .box_wall:nth-child(6) {
      animation: borderColor 3462ms 4159ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(17) .box_wall:nth-child(7) {
      animation: borderColor 2866ms 8976ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(18) .box_wall:nth-child(1) {
      animation: borderColor 3294ms 2044ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(18) .box_wall:nth-child(2) {
      animation: borderColor 1559ms 3476ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(18) .box_wall:nth-child(3) {
      animation: borderColor 3012ms 3309ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(18) .box_wall:nth-child(4) {
      animation: borderColor 3411ms 3068ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(18) .box_wall:nth-child(5) {
      animation: borderColor 1981ms 1854ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(18) .box_wall:nth-child(6) {
      animation: borderColor 3869ms 1204ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(18) .box_wall:nth-child(7) {
      animation: borderColor 2272ms 405ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(19) .box_wall:nth-child(1) {
      animation: borderColor 1392ms 1068ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(19) .box_wall:nth-child(2) {
      animation: borderColor 2256ms 3516ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(19) .box_wall:nth-child(3) {
      animation: borderColor 3498ms 1593ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(19) .box_wall:nth-child(4) {
      animation: borderColor 3120ms 4588ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(19) .box_wall:nth-child(5) {
      animation: borderColor 1004ms 3795ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(19) .box_wall:nth-child(6) {
      animation: borderColor 3769ms 9838ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(19) .box_wall:nth-child(7) {
      animation: borderColor 1131ms 5971ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(20) .box_wall:nth-child(1) {
      animation: borderColor 2448ms 9423ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(20) .box_wall:nth-child(2) {
      animation: borderColor 1024ms 5692ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(20) .box_wall:nth-child(3) {
      animation: borderColor 2540ms 331ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(20) .box_wall:nth-child(4) {
      animation: borderColor 3589ms 6033ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(20) .box_wall:nth-child(5) {
      animation: borderColor 1611ms 2432ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(20) .box_wall:nth-child(6) {
      animation: borderColor 1353ms 3351ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(20) .box_wall:nth-child(7) {
      animation: borderColor 1354ms 7668ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(21) .box_wall:nth-child(1) {
      animation: borderColor 3540ms 5878ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(21) .box_wall:nth-child(2) {
      animation: borderColor 3736ms 8775ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(21) .box_wall:nth-child(3) {
      animation: borderColor 3687ms 4873ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(21) .box_wall:nth-child(4) {
      animation: borderColor 2115ms 8021ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(21) .box_wall:nth-child(5) {
      animation: borderColor 3179ms 5885ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(21) .box_wall:nth-child(6) {
      animation: borderColor 2583ms 793ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(21) .box_wall:nth-child(7) {
      animation: borderColor 3492ms 9053ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(22) .box_wall:nth-child(1) {
      animation: borderColor 3557ms 9393ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(22) .box_wall:nth-child(2) {
      animation: borderColor 3968ms 457ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(22) .box_wall:nth-child(3) {
      animation: borderColor 1661ms 82ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(22) .box_wall:nth-child(4) {
      animation: borderColor 3432ms 3198ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(22) .box_wall:nth-child(5) {
      animation: borderColor 3794ms 611ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(22) .box_wall:nth-child(6) {
      animation: borderColor 1014ms 6320ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(22) .box_wall:nth-child(7) {
      animation: borderColor 1060ms 2719ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(23) .box_wall:nth-child(1) {
      animation: borderColor 1643ms 3069ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(23) .box_wall:nth-child(2) {
      animation: borderColor 3893ms 3071ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(23) .box_wall:nth-child(3) {
      animation: borderColor 1129ms 200ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(23) .box_wall:nth-child(4) {
      animation: borderColor 1762ms 1090ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(23) .box_wall:nth-child(5) {
      animation: borderColor 3772ms 3341ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(23) .box_wall:nth-child(6) {
      animation: borderColor 1104ms 6610ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(23) .box_wall:nth-child(7) {
      animation: borderColor 2122ms 9564ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(24) .box_wall:nth-child(1) {
      animation: borderColor 2628ms 5107ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(24) .box_wall:nth-child(2) {
      animation: borderColor 2024ms 6068ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(24) .box_wall:nth-child(3) {
      animation: borderColor 1587ms 7310ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(24) .box_wall:nth-child(4) {
      animation: borderColor 3844ms 1369ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(24) .box_wall:nth-child(5) {
      animation: borderColor 2016ms 2946ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(24) .box_wall:nth-child(6) {
      animation: borderColor 2206ms 8507ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(24) .box_wall:nth-child(7) {
      animation: borderColor 2927ms 467ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(25) .box_wall:nth-child(1) {
      animation: borderColor 3807ms 8503ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(25) .box_wall:nth-child(2) {
      animation: borderColor 3896ms 439ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(25) .box_wall:nth-child(3) {
      animation: borderColor 3912ms 2905ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(25) .box_wall:nth-child(4) {
      animation: borderColor 1234ms 3955ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(25) .box_wall:nth-child(5) {
      animation: borderColor 1896ms 5352ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(25) .box_wall:nth-child(6) {
      animation: borderColor 3891ms 1351ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(25) .box_wall:nth-child(7) {
      animation: borderColor 3441ms 1011ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(26) .box_wall:nth-child(1) {
      animation: borderColor 3427ms 4689ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(26) .box_wall:nth-child(2) {
      animation: borderColor 1354ms 7536ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(26) .box_wall:nth-child(3) {
      animation: borderColor 3547ms 4260ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(26) .box_wall:nth-child(4) {
      animation: borderColor 3584ms 4737ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(26) .box_wall:nth-child(5) {
      animation: borderColor 2825ms 5053ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(26) .box_wall:nth-child(6) {
      animation: borderColor 3112ms 3071ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(26) .box_wall:nth-child(7) {
      animation: borderColor 3112ms 127ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(27) .box_wall:nth-child(1) {
      animation: borderColor 3108ms 7786ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(27) .box_wall:nth-child(2) {
      animation: borderColor 3107ms 5612ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(27) .box_wall:nth-child(3) {
      animation: borderColor 3948ms 7352ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(27) .box_wall:nth-child(4) {
      animation: borderColor 3436ms 1707ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(27) .box_wall:nth-child(5) {
      animation: borderColor 1105ms 308ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(27) .box_wall:nth-child(6) {
      animation: borderColor 1598ms 3843ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(27) .box_wall:nth-child(7) {
      animation: borderColor 1026ms 2570ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(28) .box_wall:nth-child(1) {
      animation: borderColor 3035ms 2ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(28) .box_wall:nth-child(2) {
      animation: borderColor 2133ms 319ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(28) .box_wall:nth-child(3) {
      animation: borderColor 1161ms 95ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(28) .box_wall:nth-child(4) {
      animation: borderColor 1273ms 5489ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(28) .box_wall:nth-child(5) {
      animation: borderColor 2759ms 9809ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(28) .box_wall:nth-child(6) {
      animation: borderColor 1452ms 4676ms linear infinite;
      animation-fill-mode: both; }
    #box_world .box_wrapper:nth-child(28) .box_wall:nth-child(7) {
      animation: borderColor 1846ms 6825ms linear infinite;
      animation-fill-mode: both; }

@keyframes rotate {
  0% {
    transform: rotateX(0deg) rotateY(0deg); }
  100% {
    transform: rotateX(360deg) rotateY(1080deg); } }
@keyframes borderColor {
  0% {
    border-top-color: rgba(0, 0, 255, 0);
    border-right-color: rgba(0, 0, 255, 0);
    border-bottom-color: rgba(0, 0, 255, 0);
    border-left-color: rgba(0, 0, 255, 0); }
  60% {
    border-top-color: rgba(0, 0, 255, 0);
    border-right-color: rgba(0, 0, 255, 0);
    border-bottom-color: rgba(0, 0, 255, 0);
    border-left-color: rgba(0, 0, 255, 0); }
  65% {
    border-top-color: rgba(0, 0, 255, 0.3);
    border-right-color: rgba(0, 0, 255, 0);
    border-bottom-color: rgba(0, 0, 255, 0);
    border-left-color: rgba(0, 0, 255, 0); }
  70% {
    border-top-color: rgba(0, 0, 255, 0.3);
    border-right-color: rgba(0, 0, 255, 0.3);
    border-bottom-color: rgba(0, 0, 255, 0);
    border-left-color: rgba(0, 0, 255, 0); }
  75% {
    border-top-color: rgba(0, 0, 255, 0.3);
    border-right-color: rgba(0, 0, 255, 0.3);
    border-bottom-color: rgba(0, 0, 255, 0.3);
    border-left-color: rgba(0, 0, 255, 0); }
  80% {
    border-top-color: rgba(0, 255, 255, 0.3);
    border-right-color: rgba(0, 255, 255, 0.3);
    border-bottom-color: rgba(0, 255, 255, 0.3);
    border-left-color: rgba(0, 255, 255, 0.3); }
  85% {
    border-top-color: rgba(0, 0, 255, 0);
    border-right-color: rgba(0, 0, 255, 0.3);
    border-bottom-color: rgba(0, 0, 255, 0.3);
    border-left-color: rgba(0, 0, 255, 0.3); }
  90% {
    border-top-color: rgba(0, 0, 255, 0);
    border-right-color: rgba(0, 0, 255, 0);
    border-bottom-color: rgba(0, 0, 255, 0.3);
    border-left-color: rgba(0, 0, 255, 0.3); }
  95% {
    border-top-color: rgba(0, 0, 255, 0);
    border-right-color: rgba(0, 0, 255, 0);
    border-bottom-color: rgba(0, 0, 255, 0);
    border-left-color: rgba(0, 0, 255, 0.3); }
  100% {
    border-top-color: rgba(0, 0, 255, 0);
    border-right-color: rgba(0, 0, 255, 0);
    border-bottom-color: rgba(0, 0, 255, 0);
    border-left-color: rgba(0, 0, 255, 0); } }

/*# sourceMappingURL=styles.css.map */
